body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
   'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
  'Courier New',
   monospace;
}

.notas{
  border: 1px solid black;
  margin: 5px;
  padding: 20px;
}

.notas div{
  border: 1px solid gray;
  margin: 10px;
}

.notas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.nota{
  border: 1px solid black;
  argin: 5px;
  padding: 20px;
}

.nota p {
  font-family: Monaco;
  font-size:
}

.nota button{
  margin: 5px auto;
}

.center {
  text-align:center;
}

form {
  text-align: center;
  border: 2px solid gray;
  margin: 10px;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 5px;
}

form label {
  margin-top: 10px;
}


.button{
  display: flex;
  border: 40px;
  text-align: center;
}
